*
{
    font-family: 'Mukta', sans-serif;
    box-sizing: border-box;
}

header
{
    grid-area: header;

}

.main
{
    grid-area: main;
}

.sidebar
{
    grid-area: sidebar;
}

footer
{
    grid-area: footer;
}

body
{
    height: 97vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    " header header "
    " main sidebar"
    " footer footer";
    grid-template-rows: 60px auto 60px;
    background-color: antiquewhite;
}

header
{
    border: 5px solid black;
    display: flex;
    align-items: center;
}

header ul 
{
    padding-left: 10px;
}

header ul li
{
    display: inline-block;
    padding: 0 15px;
    font-weight: bold;
}

.main
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
}

.MainHeading
{
    border: 5px solid black;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    overflow: hidden;
    background-color: white;
}

.MainHeading h2
{
    overflow: hidden;
    margin: 0;
    margin-top: 5px;
    width: 50%;
    line-height: 100%;
    text-align: center;
}

.MainDescription
{
    border: 5px solid black;
    border-top: 0;
    border-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:20%;
    overflow: hidden;
}

.MainDescription h4
{
    margin: 0;
}


.MainDescription h3
{
    margin: 0;
    font-size: 30px;
}

.MainImageSection
{
    border: 5px solid black;
    border-top: 0;
    grid-column: 1/3;
    object-fit: cover; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MainImageSection img
{
    width: 99.5%;
    height: 99.5%;
}


.sidebar
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 55% 22.5% 22.5%;
}

.SideBookImage
{
    grid-column: 1/3;
    border: 5px solid black;
    border-top: 0;
    border-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
}

.SideBookImage h4 a
{
    font-size: 20px;
}

.SideBookImage img
{
    object-fit: cover;
    height: 90%;
}

.SideSynopsis
{
    grid-row: 2/4;
    border: 5px solid black;
    border-top: 0;
    border-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* gap: 5%; */
}

.SideSynopsis h4 a
{
    font-size: 20px;
}

.SideSynopsis  h2
{
    font-size: 35px;
    width: 80%;
    text-align: center;
    line-height: 100%;
}

.SideAuthor
{
    border: 5px solid black;
    border-top: 0;
    border-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height: 50%;
    overflow: hidden;
}

.SideAuthor h4 a
{
    font-size: 20px;
}

.SideAuthor h2
{
    font-size: 35px;
}

.SideShop
{
    border: 5px solid black;
    border-top: 0;
    border-left: 0;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 50% 50%;
}

.SideShop div i
{
    font-size: 20px;
}

.mail
{
    border: 5px solid black;
    border-top: 0;
    border-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.twitter
{
    border: 5px solid black;
    border-top: 0;
    border-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.SideShopHeading{
    grid-column: 3/4;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
}

.linkedin
{
    border-right: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.printrest
{
    border-right: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

}

footer
{

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    border: 0;
    /* grid-row: ; */
}

.FooterCredits
{
    border: 5px solid black;
    border-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
}

.EventLink
{
    border: 5px solid black;
    border-top: 0;
    border-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    font-weight: bold;
}